MYSQL_DATABASE=smart_community
MYSQL_USER=smart_user
MYSQL_PASSWORD=smart_pass_3674
MYSQL_ROOT_PASSWORD=root3674
JWT_SECRET=smart-community-secret-3674
APP_CRYPTO_KEY=smart-community-crypto-key-3674
APP_ACTIVITY_CHECKIN_SECRET=smart-community-checkin-secret-3674
APP_STORAGE_TYPE=LOCAL
